._yellow {
  color: $yellow;
}
._gray {
  color: $gray;
}
._purple {
  color: $purple;
}
._blue {
  color: $blue;
}
._green {
  color: $green;
}
._red {
  color: $red;
}
._highlighter-rouge {
  padding: 0 3px;
  font-size: 1.1em;
  color: $dark;
  background-color:  $brightBeig;
  white-space: nowrap;
}
._highlight {
  font-size: 1.2em;
  font-weight: 900;
  color: $yellow;
  white-space: nowrap;
}
._main-heading {
  padding: 30px 0;
  text-align: end;
  color: $dark;
}
._main-title {
  padding-bottom: 10px;
  font-size: 2rem;
}
._main-subtitle {
  font-family: 'Jura', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  span {
    text-transform: uppercase;
  }
}