.header {
  border-bottom: 5px solid $brightBeig;
}
.header__body {
  @include dFlexBetween;
  align-items: center;
}
// .body {
// }
.header__logo {
  position: relative;
  flex: 1;
  margin-right: 20px;
  padding: 5px 15px;
  font-size: 40px;
  text-transform: uppercase;
  background-color: $dark;
  border-radius: 20px;
  transition: $shortDelay;
  cursor: pointer;
  &::before {
    content: "cheat";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $white;
    background-color: $dark;
    user-select: none;
  }
  @media (hover: hover) {
    &:hover {
      background-color: $transparentDark;
    }
  }
  @media screen and (max-width: 500px) {
    font-size: calc(0px + 40 * (100vw / 500));
    &::before {
      font-size: calc(0px + 14 * (100vw / 500));
    }
  }
}
.header__heading {
  flex: auto;
}
.header__title {
  @media screen and (max-width: 320px) {
    margin-bottom: 0;
  }
}
.header__subtitle {
  @media screen and (max-width: 320px) {
    display: none;
  }
}
// .main-heading {
// }
// .main-title {
// }
// .main-subtitle {
// }
// .yellow {
// }
