// .content__header {
// }
.header {
  border-bottom: 5px solid $brightBeig;
}
.header__body {
  @include dFlexBetween;
  align-items: center;
}
// .body {
// }
.header__logo {
  position: relative;
  flex: 1;
  margin-right: 30px;
  padding: 15px;
  font-family: "Poiret One";
  font-size: 3rem;
  text-transform: uppercase;
  background-color: $dark;
  border-radius: 20px;
  transition: $shortDelay;
  cursor: pointer;
  &::before {
    content: "cheat";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    color: $white;
    background-color: $dark;
    user-select: none;
  }
  @media (hover: hover) {
    &:hover {
      background-color: $transparentDark;
    }
  }
  @media screen and (max-width: 479px) {
    margin-right: 20px;
    padding: 15px 10px;
  }
  @media screen and (max-width: 320px) {
    margin-right: 10px;
    padding: 10px 5px;
  }
}
.header__heading {
  flex: auto;
}
.header__title {
  @media screen and (max-width: 479px) {
    padding-bottom: 0;
  }
}
.header__subtitle {
  @media screen and (max-width: 479px) {
    display: none;
  }
}
// ._main-heading {
// }
// ._main-title {
// }
// ._main-subtitle {
// }
// ._yellow {
// }
