// .main__paragraph {
// }
.paragraph {
 @include responsiveMargin;
}
// .paragraph__body {
// }
// .body {
// }
.paragraph__section {
  @include responsiveMargin;
}
// .paragraph__header {
// }
.paragraph__name {
  position: relative;
  font-size: 2.3em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media screen and (min-width: 479px) {
    display: inline;
    margin: 0 0 0 40px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      height: 3px;
      background-color: $transparentDark;
    }
    &::before {
      right: calc(100% + 10px);
      width: 30px;
    }
    &::after {
      left: calc(100% + 10px);
      width: calc(100vw - 100% - 135px);
    }
  }
  @media screen and (max-width: 320px) {
    font-size: 2rem;
  }
}
// .paragraph__content {
// }
.paragraph__text {
  margin: 10px 0;
  font-size: 1.2rem;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-align: justify;
  @media screen and (max-width: 320px) {
    margin: 5px 0;
  }
}
.paragraph__title {
  margin: 30px 0 10px;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  @media screen and (min-width: 479px) {
    padding: 0 40px;
  }
  @media screen and (max-width: 320px) {
    margin: 15px 0 5px;
  }
}
.paragraph__subtitle {
  margin: 20px 0 10px;
  font-size: 1.3rem;
  font-weight: 600;
  @media screen and (max-width: 320px) {
    margin: 10px 0 5px;
  }
}
.paragraph__list {
  @include dFlexBetween;
  flex-wrap: wrap;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: $brightBeig;
}
.paragraph__item {
  flex: 1;
  margin: 5px 0;
  padding: 0 5px;
  text-align: center;
}
.paragraph__link {
  padding: 5px;
  font-size: 1.2rem;
  text-transform: capitalize;
  white-space: nowrap;
  color: $dark;
  transition: $shortDelay;
  @media screen and (hover: hover) {
    &:hover {
      color: $gray;
    }
  }
}
.paragraph__code {
  margin: 10px 0;
  color: $white;
  border-radius: 10px;
  background-color: $navyBlue;
  @media screen and (max-width: 320px) {
    margin: 5px;
  }
}
.paragraph__code_body {
  padding: 10px 50px;
  @media screen and (max-width: 479px) {
    padding: 10px 20px;
  }
}
.paragraph__code_block {
  margin: 25px 0;
  @media screen and (max-width: 479px) {
    margin: 10px 0;
  }
  @media screen and (max-width: 320px) {
    margin: 5px;
  }
}
.paragraph__code_line {
  margin: 5px 0;
  font-size: 1.1rem;
  word-spacing: 3px;
}
// .paragraph__footer {
// }  