$white: #ffffff;
$red: #da5b5b;
$gray: rgb(189, 189, 189);
$green: #45a15c;
$purple: #af51c7;
$blue: #6483da;
$navyBlue: #171931ef;
$yellow: #efd81d;
$transparentYellow: #efd61d50;
$dark: #444444;
$transparentDark: #444444b7;
$beig: #d6cbbf;
$brightBeig: #f5f2f0;
$shortDelay: all 0.2s ease-in;
$longDelay: all 0.5s;

@mixin removeMB {
  & > :last-child {
    margin-bottom: 0;
  }
}
@mixin castomScrol {
  &::-webkit-scrollbar {
    margin: 0 10px;
    width: 3px !important;
    height: 3px !important;
  }
  &::-webkit-scrollbar-track {
    background-color: $brightBeig;
  }
  &::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 10px;
  }
}
@mixin responsiveMargin {
  margin: 40px 0;
  @media screen and (max-width: 767px) {
    margin: 25px 0;
  }
  @media screen and (max-width: 479px) {
    margin: 15px 0;
  }
}

/* ----- fonts */
@import "./fonts";
/* fonts ----- */

/* ----- reset */
@import "./reset";
/* reset ----- */

/* ----- common */
@import "./common";
/* common ----- */

/* ----- burger */
@import "./components/burger";
/* burger ----- */

/* ----- sidebar */
@import "./components/sidebar";
/* sidebar ----- */

/* ----- arrow */
@import "./components/arrow";
/* arrow ----- */

/* ----- switch-language */
@import "./components/switch-language";
/* switch-language ----- */

/* ----- header */
@import "./components/header"; 
/* header ----- */

/* ----- paragraph */
@import "./components/paragraph";
/* paragraph ----- */

/* ----- footer */
@import "./components/footer";
/* footer ----- */

.wrapper {
  position: relative;
  padding-left: 45px;
  @media screen and (max-width: 320px) {
    padding-left: 35px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  > * {
    width: 100%;
  }
}