@mixin dFlexBetween {
  display: flex;
  justify-content: space-between;
}
@mixin dFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin dFlexStart {
  display: flex;
  justify-content: flex-start;
}
@mixin dFlexEnd {
  display: flex;
  justify-content: flex-end;
}
@mixin dFlexBottom {
  display: flex;
  align-items: flex-end;
}
@mixin dFlexTop {
  display: flex;
  align-items: flex-start;
}
@mixin castomScrol {
  &::-webkit-scrollbar {
    margin: 0 10px;
    width: 5px !important;
    height: 3px !important;
  }
  &::-webkit-scrollbar-track {
    background-color: $brightBeig;
  }
  &::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 10px;
  }
}
@mixin removeMB {
  *:last-child {
    margin-bottom: 0;
  }
}
@mixin removeMR {
  *:last-child {
    margin-right: 0;
  }
}

$yellow: #efd81d;
$transparentYellow: #efd61d50;
$red: #eb4e4e;
$dark: #444444;
$transparentDark: #444444b7;
$white: #ffffff;
$brightBeig: #f5f2f0;
$beig: #d6cbbf;
$shortDelay: all 0.2s ease-in;
$longDelay: all 0.5s;

.body {
  padding: 0 20px;
  @media screen and (max-width: 479px) {
    padding: 0 10px;
  }
}
.wrapper {
  position: relative;
  padding-left: 45px;
  font-family: "Poiret One";
  * {
    width: 100%;
  }
  @media screen and (max-width: 320px) {
    padding-left: 35px;
  }
}
.burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 45px;
  height: 100%;
  padding: 15px 10px;
  background-color: $brightBeig;
  @media screen and (max-width: 320px) {
    width: 35px;
    padding: 10px 5px;
  }
  .burger-icon {
    position: relative;
    width: 25px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    .burger-icon__line,
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $dark;
      transition: $shortDelay;
      user-select: none;
    }
    .burger-icon__line {
      top: 50%;
      transform: translate(0, -50%);
    }
    &::after {
      bottom: 0;
    }
    &::before {
      top: 0;
    }
    &._show-menu {
      .burger-icon__line {
        top: 50%;
        transform: scale(0);
      }
      &::after {
        bottom: 43%;
        transform: rotate(-45deg);
        background-color: $red;
      }
      &::before {
        top: 43%;
        transform: rotate(45deg);
        background-color: $red;
      }
    }
  }
}
.content {
  @include dFlexBetween;
  align-items: center;
  flex-direction: column; 
  height: 100vh;
}
// .content__main {
// }
// main {
// }

/* ----- fonts */
@import "./fonts";
/* fonts ----- */

/* ----- zeroing */
@import "./zeroing";
/* zeroing ----- */

/* ----- common */
@import "./sections/common";
/* common ----- */

/* ----- header */
@import "./sections/header";
/* header ----- */

/* ----- footer */
@import "./sections/footer";
/* footer ----- */

/* ----- sidebar */
@import "./sections/sidebar";
/* sidebar ----- */

/* ----- paragraph */
@import "./sections/paragraph";
/* paragraph ----- */

@media screen and (hover: hover) {
}
@media screen and (hover: none) {
}
@media screen and (max-width: 320px) {
}
@media screen and (max-width: 479px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1800px) {
}