@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
.wrapper {
  position: relative;
  padding-left: 45px;
  font-family: "Verdana", sans-serif;
}

.wrapper * {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .wrapper {
    padding-left: 35px;
  }
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 45px;
  height: 100%;
  padding: 15px 10px;
  background-color: #f5f2f0;
}

@media screen and (max-width: 320px) {
  .burger {
    width: 35px;
    padding: 10px 5px;
  }
}

.burger .burger-icon {
  position: relative;
  width: 25px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.burger .burger-icon .burger-icon__line, .burger .burger-icon::after, .burger .burger-icon::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #444444;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.burger .burger-icon .burger-icon__line {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.burger .burger-icon::after {
  bottom: 0;
}

.burger .burger-icon::before {
  top: 0;
}

.burger .burger-icon._show-menu .burger-icon__line {
  top: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger .burger-icon._show-menu::after {
  bottom: 43%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #da5b5b;
}

.burger .burger-icon._show-menu::before {
  top: 42.5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #da5b5b;
}

.body {
  padding: 0 20px;
}

@media screen and (max-width: 479px) {
  .body {
    padding: 0 10px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

/* ----- fonts */
/* fonts ----- */
/* ----- zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 150%;
  font-size: calc(11px + 4 * ((100vw - 320px) / 1280));
  color: #444444;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 320px) {
  html,
  body {
    font-size: calc(0px + 11 * (100vw / 320));
  }
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 500;
  line-height: 110%;
}

/* zeroing ----- */
/* ----- common */
._yellow {
  color: #efd81d;
}

._gray {
  color: #bdbdbd;
}

._purple {
  color: #af51c7;
}

._blue {
  color: #6483da;
}

._green {
  color: #45a15c;
}

._red {
  color: #da5b5b;
}

._highlighter-rouge {
  padding: 0 3px;
  font-size: 1.1em;
  color: #444444;
  background-color: #f5f2f0;
  white-space: nowrap;
}

._highlight {
  font-size: 1.2em;
  font-weight: 900;
  color: #efd81d;
  white-space: nowrap;
}

._main-heading {
  padding: 30px 0;
  text-align: end;
  color: #444444;
}

._main-title {
  padding-bottom: 10px;
  font-size: 2rem;
}

._main-subtitle {
  font-family: 'Jura', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

._main-subtitle span {
  text-transform: uppercase;
}

/* common ----- */
/* ----- header */
.header {
  border-bottom: 5px solid #f5f2f0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
  padding: 15px;
  font-family: "Poiret One";
  font-size: 3rem;
  text-transform: uppercase;
  background-color: #444444;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.header__logo::before {
  content: "cheat";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  background-color: #444444;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (hover: hover) {
  .header__logo:hover {
    background-color: #444444b7;
  }
}

@media screen and (max-width: 479px) {
  .header__logo {
    margin-right: 20px;
    padding: 15px 10px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-right: 10px;
    padding: 10px 5px;
  }
}

.header__heading {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media screen and (max-width: 479px) {
  .header__title {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  .header__subtitle {
    display: none;
  }
}

/* header ----- */
/* ----- footer */
.footer {
  border-top: 5px solid #f5f2f0;
}

.footer__heading {
  text-align: start;
}

/* footer ----- */
/* ----- sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2;
  width: 350px;
  height: 100%;
  font-family: 'Jura', sans-serif;
  border-left: 1px solid #444444b7;
  background-color: #f5f2f0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar._show-menu {
  left: 45px;
}

@media screen and (max-width: 320px) {
  .sidebar._show-menu {
    left: 35px;
  }
}

@media screen and (min-width: 1800px) {
  .sidebar {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .sidebar {
    width: calc(100% - 45px);
  }
}

@media screen and (max-width: 320px) {
  .sidebar {
    width: calc(100% - 35px);
  }
}

@media screen and (max-height: 300px) {
  .sidebar {
    overflow: auto;
  }
  .sidebar::-webkit-scrollbar {
    margin: 0 10px;
    width: 5px !important;
    height: 3px !important;
  }
  .sidebar::-webkit-scrollbar-track {
    background-color: #f5f2f0;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 10px;
  }
}

.sidebar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.sidebar__heading {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #444444;
}

.sidebarr__title {
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (max-width: 320px) {
  .sidebarr__title {
    margin-bottom: 0;
  }
}

.sidebar__subtitle {
  font-size: 1rem;
  color: #d6cbbf;
}

@media screen and (max-width: 320px) {
  .sidebar__subtitle {
    display: none;
  }
}

.sidebar__nav {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 20px 0;
}

@media screen and (min-height: 300px) {
  .sidebar__nav {
    padding: 0 5px;
    overflow: auto;
  }
  .sidebar__nav::-webkit-scrollbar {
    margin: 0 10px;
    width: 5px !important;
    height: 3px !important;
  }
  .sidebar__nav::-webkit-scrollbar-track {
    background-color: #f5f2f0;
  }
  .sidebar__nav::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 10px;
  }
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.sidebar__list li {
  padding: 10px 0;
}

.sidebar__link {
  font-size: 1.3rem;
  font-weight: 700;
  white-space: pre-wrap;
  text-transform: uppercase;
  color: #444444;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (hover: hover) {
  .sidebar__link:hover {
    color: #d6cbbf;
    border-bottom: 2px solid #444444;
  }
}

@media screen and (max-width: 320px) {
  .sidebar__link {
    font-size: 1.5rem;
  }
}

.sub {
  position: relative;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.sub::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #444444;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 320px) {
  .sub {
    font-size: 1.3rem;
  }
}

.arrow {
  position: relative;
}

.arrow__icon {
  position: absolute;
  top: -20px;
  right: 0;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.arrow__icon::after, .arrow__icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background-color: #444444;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.arrow__icon::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-3px + -50%), 0) rotate(45deg);
          transform: translate(calc(-3px + -50%), 0) rotate(45deg);
}

.arrow__icon:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(2.5px + -50%), 0) rotate(-45deg);
          transform: translate(calc(2.5px + -50%), 0) rotate(-45deg);
}

@media (hover: hover) {
  .arrow__icon:hover {
    background-color: #444444;
    border-radius: 100%;
  }
  .arrow__icon:hover::after, .arrow__icon:hover::before {
    background-color: #ffffff;
  }
}

.arrow__icon._active {
  background-color: #444444;
  border-radius: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow__icon._active::after, .arrow__icon._active::before {
  background-color: #ffffff;
}

.sidebar__sublist {
  display: none;
  padding: 10px 10px 10px 15px;
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.sidebar__sublist._active {
  display: block;
}

.sidebar__sublist *:last-child {
  margin-bottom: 0;
}

/* sidebar ----- */
/* ----- paragraph */
.paragraph {
  margin: 40px 0;
}

@media screen and (max-width: 767px) {
  .paragraph {
    margin: 25px 0;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    margin: 15px 0;
  }
}

.paragraph__section {
  margin: 40px 0;
}

@media screen and (max-width: 767px) {
  .paragraph__section {
    margin: 25px 0;
  }
}

@media screen and (max-width: 479px) {
  .paragraph__section {
    margin: 15px 0;
  }
}

.paragraph__name {
  position: relative;
  font-size: 2.3em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (min-width: 479px) {
  .paragraph__name {
    display: inline;
    margin: 0 0 0 40px;
  }
  .paragraph__name::before, .paragraph__name::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    display: block;
    height: 3px;
    background-color: #444444b7;
  }
  .paragraph__name::before {
    right: calc(100% + 10px);
    width: 30px;
  }
  .paragraph__name::after {
    left: calc(100% + 10px);
    width: calc(100vw - 100% - 155px);
  }
}

@media screen and (max-width: 320px) {
  .paragraph__name {
    font-size: 2rem;
  }
}

.paragraph__text {
  margin: 10px 0;
  font-size: 1.2rem;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-align: justify;
}

@media screen and (max-width: 320px) {
  .paragraph__text {
    margin: 5px 0;
  }
}

.paragraph__title {
  margin: 30px 0 10px;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (min-width: 479px) {
  .paragraph__title {
    padding: 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .paragraph__title {
    margin: 15px 0 5px;
  }
}

.paragraph__subtitle {
  margin: 20px 0 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 320px) {
  .paragraph__subtitle {
    margin: 10px 0 5px;
  }
}

.paragraph__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f5f2f0;
}

.paragraph__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px 0;
  padding: 0 5px;
  text-align: center;
}

.paragraph__link {
  padding: 5px;
  font-size: 1.2rem;
  text-transform: capitalize;
  white-space: nowrap;
  color: #444444;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media screen and (hover: hover) {
  .paragraph__link:hover {
    color: #bdbdbd;
  }
}

.paragraph__code {
  margin: 10px 0;
  color: #ffffff;
  border-radius: 10px;
  background-color: #171931ef;
}

@media screen and (max-width: 320px) {
  .paragraph__code {
    margin: 5px;
  }
}

.paragraph__code_body {
  padding: 10px 50px;
}

@media screen and (max-width: 479px) {
  .paragraph__code_body {
    padding: 10px 20px;
  }
}

.paragraph__code_block {
  margin: 25px 0;
}

@media screen and (max-width: 479px) {
  .paragraph__code_block {
    margin: 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .paragraph__code_block {
    margin: 5px;
  }
}

.paragraph__code_line {
  margin: 5px 0;
  font-size: 1.1rem;
  word-spacing: 3px;
}

/* paragraph ----- */
/*# sourceMappingURL=main.css.map */