/* ----- fonts */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
/* fonts ----- */
/* ----- zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 150%;
  font-size: 100%;
  font-family: "Verdana", sans-serif;
  font-display: swap;
  font-size: calc(10px + 5 * ((100vw - 320px) / (1280 - 320)));
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 320px) {
  html,
  body {
    font-size: calc(5px + 5 * (100vw / 320));
  }
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  line-height: 120%;
}

/* zeroing ----- */
/* ----- common */
._body {
  padding: 0 20px;
}

@media screen and (max-width: 479px) {
  ._body {
    padding: 0 10px;
  }
}

._main-heading {
  padding: 30px 0;
  text-align: end;
  color: #444444;
}

._main-title {
  padding-bottom: 10px;
  font-size: 2rem;
}

._main-subtitle {
  font-family: "Jura", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

._main-subtitle span {
  text-transform: uppercase;
}

._yellow {
  color: #efd81d;
}

._gray {
  color: #bdbdbd;
}

._purple {
  color: #af51c7;
}

._blue {
  color: #6483da;
}

._green {
  color: #45a15c;
}

._red {
  color: #da5b5b;
}

._highlighter-rouge {
  padding: 0 3px;
  font-size: 1.1em;
  color: #444444;
  background-color: #f5f2f0;
  white-space: nowrap;
}

._highlight {
  font-size: 1.2em;
  font-weight: 900;
  color: #efd81d;
  white-space: nowrap;
}

/* common ----- */
/* ----- burger */
.burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  max-width: 45px;
  height: 100%;
  padding: 15px 10px;
  background-color: #f5f2f0;
}

@media screen and (max-width: 320px) {
  .burger {
    max-width: 35px;
    padding: 10px 5px;
  }
}

.burger .burger-icon {
  position: relative;
  width: 25px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.burger .burger-icon .burger-icon__line, .burger .burger-icon::after, .burger .burger-icon::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  display: block;
  background-color: #444444;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.burger .burger-icon .burger-icon__line {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.burger .burger-icon::after {
  bottom: 0;
}

.burger .burger-icon::before {
  top: 0;
}

@media screen and (hover: hover) {
  .burger .burger-icon:hover .burger-icon__line, .burger .burger-icon:hover::before, .burger .burger-icon:hover::after {
    background-color: #444444b7;
  }
}

.burger .burger-icon:active .burger-icon__line, .burger .burger-icon:active::before, .burger .burger-icon:active::after {
  background-color: #444444b7;
}

.burger .burger-icon._active .burger-icon__line {
  top: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger .burger-icon._active::after {
  bottom: 43%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #da5b5b;
}

.burger .burger-icon._active::before {
  top: 42.5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #da5b5b;
}

/* burger ----- */
/* ----- sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  width: 350px;
  height: 100%;
  font-family: "Jura", sans-serif;
  border-left: 1px solid #444444b7;
  background-color: #f5f2f0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar._show-nav {
  left: 45px;
}

@media screen and (max-width: 320px) {
  .sidebar._show-nav {
    left: 35px;
  }
}

@media screen and (min-width: 1800px) {
  .sidebar {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .sidebar {
    width: calc(100% - 45px);
  }
}

@media screen and (max-width: 320px) {
  .sidebar {
    width: calc(100% - 35px);
  }
}

@media screen and (max-height: 300px) {
  .sidebar {
    overflow: auto;
  }
  .sidebar::-webkit-scrollbar {
    margin: 0 10px;
    width: 3px !important;
    height: 3px !important;
  }
  .sidebar::-webkit-scrollbar-track {
    background-color: #f5f2f0;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 10px;
  }
}

.sidebar .sidebar__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.sidebar .sidebar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.sidebar .sidebar__body > * {
  width: 100%;
}

.sidebar .sidebar__header {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #444444;
}

.sidebar .sidebar__title {
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: uppercase;
}

.sidebar .sidebar__subtitle {
  font-size: 1rem;
  color: #d6cbbf;
}

@media screen and (max-width: 320px) {
  .sidebar .sidebar__subtitle {
    display: none;
  }
}

.sidebar .sidebar__nav {
  margin: 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media screen and (min-height: 300px) {
  .sidebar .sidebar__nav {
    padding: 0 5px;
    overflow: auto;
  }
  .sidebar .sidebar__nav::-webkit-scrollbar {
    margin: 0 10px;
    width: 3px !important;
    height: 3px !important;
  }
  .sidebar .sidebar__nav::-webkit-scrollbar-track {
    background-color: #f5f2f0;
  }
  .sidebar .sidebar__nav::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 10px;
  }
}

.sidebar .sidebar__item {
  padding: 10px 0;
}

.sidebar .sidebar__link {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media (hover: hover) {
  .sidebar .sidebar__link:hover {
    color: #d6cbbf;
    border-bottom: 2px solid #444444;
  }
}

@media screen and (max-width: 480px) {
  .sidebar .sidebar__link {
    font-size: 1.5rem;
  }
}

.sidebar .sidebar__subnav {
  position: relative;
  padding-right: 20px;
}

.sidebar .sidebar__subnav .sidebar__list {
  display: none;
  margin-left: 20px;
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar__subnav .sidebar__list .sidebar__link {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 10px;
}

.sidebar .sidebar__subnav .sidebar__list .sidebar__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #444444;
  border-radius: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 480px) {
  .sidebar .sidebar__subnav .sidebar__list .sidebar__link {
    font-size: 1.3rem;
  }
}

.sidebar .sidebar__subnav._show-sublist > .sidebar__list {
  display: block;
}

.sidebar .sidebar__arrow {
  position: absolute;
  top: 5px;
  right: 0;
}

.sidebar .sidebar__switch-language {
  border-top: 2px solid #444444;
}

/* sidebar ----- */
/* ----- arrow */
.arrow {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.arrow .arrow__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -80%) rotate(135deg);
          transform: translate(-50%, -80%) rotate(135deg);
  z-index: 2;
  width: 50%;
  height: 50%;
  background-color: transparent;
  border-radius: 0 1px 0 0;
  border-top: 2px solid #444444;
  border-right: 2px solid #444444;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

@media screen and (hover: hover) {
  .arrow:hover .arrow__icon {
    border-top: 2px solid #efd81d;
    border-right: 2px solid #efd81d;
  }
}

.arrow:active .arrow__icon {
  border-top: 2px solid #efd81d;
  border-right: 2px solid #efd81d;
}

.arrow._active {
  background-color: #444444;
}

.arrow._active .arrow__icon {
  -webkit-transform: translate(-55%, -30%) rotate(-45deg);
          transform: translate(-55%, -30%) rotate(-45deg);
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

/* arrow ----- */
/* ----- switch-language */
.switch-language {
  max-width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.switch-language .switch-language__radio {
  display: none;
}

.switch-language .switch-language__radio:checked + .switch-language__label::before {
  background-color: #efd81d;
}

.switch-language .switch-language__label {
  position: relative;
  display: inline-block;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.switch-language .switch-language__label::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: 200%;
  height: 200%;
  background-color: #444444;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media screen and (hover: hover) {
  .switch-language .switch-language__label:hover::before {
    background-color: #efd61d50;
  }
}

.switch-language .switch-language__label:active::before {
  background-color: #efd61d50;
}

/* switch-language ----- */
/* ----- header */
.header {
  border-bottom: 5px solid #f5f2f0;
}

.header .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  position: relative;
  margin-right: 30px;
  padding: 15px;
  font-family: "Poiret One";
  font-size: 3rem;
  text-transform: uppercase;
  background-color: #444444;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.header .header__logo::before {
  content: "cheat";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  background-color: #444444;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (hover: hover) {
  .header .header__logo:hover {
    background-color: #444444b7;
  }
}

@media screen and (max-width: 479px) {
  .header .header__logo {
    font-size: 2rem;
    margin-right: 20px;
    padding: 15px 10px;
  }
}

@media screen and (max-width: 320px) {
  .header .header__logo {
    margin-right: 10px;
    padding: 10px 5px;
  }
}

.header .header__heading {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media screen and (max-width: 479px) {
  .header .header__title {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  .header .header__subtitle {
    display: none;
  }
}

/* header ----- */
/* ----- paragraph */
.paragraph {
  margin: 40px 0;
}

@media screen and (max-width: 767px) {
  .paragraph {
    margin: 25px 0;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    margin: 15px 0;
  }
}

.paragraph .paragraph__section {
  margin: 40px 0;
}

@media screen and (max-width: 767px) {
  .paragraph .paragraph__section {
    margin: 25px 0;
  }
}

@media screen and (max-width: 479px) {
  .paragraph .paragraph__section {
    margin: 15px 0;
  }
}

.paragraph .paragraph__name {
  position: relative;
  font-size: 2.3em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (min-width: 479px) {
  .paragraph .paragraph__name {
    display: inline;
    margin: 0 0 0 40px;
  }
  .paragraph .paragraph__name::before, .paragraph .paragraph__name::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    display: block;
    height: 3px;
    background-color: #444444b7;
  }
  .paragraph .paragraph__name::before {
    right: calc(100% + 10px);
    width: 30px;
  }
  .paragraph .paragraph__name::after {
    left: calc(100% + 10px);
    width: calc(100vw - 100% - 135px);
  }
}

@media screen and (min-width: 479px) and (hover: hover) {
  .paragraph .paragraph__name::after {
    width: calc(100vw - 100% - 155px);
  }
}

@media screen and (max-width: 320px) {
  .paragraph .paragraph__name {
    font-size: 2rem;
  }
}

.paragraph .paragraph__text {
  margin: 10px 0;
  font-size: 1.2rem;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-align: justify;
}

@media screen and (max-width: 320px) {
  .paragraph .paragraph__text {
    margin: 5px 0;
  }
}

.paragraph .paragraph__title {
  margin: 30px 0 10px;
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (min-width: 479px) {
  .paragraph .paragraph__title {
    padding: 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .paragraph .paragraph__title {
    margin: 15px 0 5px;
  }
}

.paragraph .paragraph__subtitle {
  margin: 20px 0 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 320px) {
  .paragraph .paragraph__subtitle {
    margin: 10px 0 5px;
  }
}

.paragraph .paragraph__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f5f2f0;
}

.paragraph .paragraph__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px 0;
  padding: 0 5px;
  text-align: center;
}

.paragraph .paragraph__link {
  padding: 5px;
  font-size: 1.2rem;
  text-transform: capitalize;
  white-space: nowrap;
  color: #444444;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media screen and (hover: hover) {
  .paragraph .paragraph__link:hover {
    color: #bdbdbd;
  }
}

.paragraph .paragraph__code {
  margin: 10px 0 15px 0;
  color: #ffffff;
  border-radius: 10px;
  background-color: #171931ef;
}

@media screen and (max-width: 320px) {
  .paragraph .paragraph__code {
    margin: 5px 0 10px 0;
  }
}

.paragraph .paragraph__code_body {
  padding: 10px 50px;
}

@media screen and (max-width: 479px) {
  .paragraph .paragraph__code_body {
    padding: 10px 20px;
  }
}

.paragraph .paragraph__code_block {
  margin: 25px 0;
}

@media screen and (max-width: 479px) {
  .paragraph .paragraph__code_block {
    margin: 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .paragraph .paragraph__code_block {
    margin: 5px 0;
  }
}

.paragraph .paragraph__code_line {
  margin: 5px 0;
  font-size: 1.1rem;
  word-spacing: 3px;
}

/* paragraph ----- */
/* ----- footer */
.footer {
  border-top: 5px solid #f5f2f0;
}

.footer .footer__heading {
  text-align: start;
}

/* footer ----- */
.wrapper {
  position: relative;
  padding-left: 45px;
}

@media screen and (max-width: 320px) {
  .wrapper {
    padding-left: 35px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.content > * {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */